<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
  <%- include('partials/head') %>
  <link rel="stylesheet" href="/resources/css/register.css">
</head>

<body>
  <div class="container">
    <%- include('partials/navBar') %>
      <main class="form">
        <h1>Register</h1>
        <label for="username">
          <h2>Username</h2>
          <input type="text" name="username" id="username" placeholder="Username" spellcheck="false" autocomplete="on">
        </label>
        <label for="email">
          <h2>Email</h2>
          <input type="email" name="email" id="email" placeholder="Email" spellcheck="false" autocomplete="on">
        </label>
        <label for="password">
          <h2>Password</h2>
          <input type="password" name="password" id="password" placeholder="Password" spellcheck="false" autocomplete="off">
        </label>
        <div class="buttons">
          <button class="btn-register" id="register-btn">
            <ion-icon name="add-circle-outline"></ion-icon>
          </button>
          <a href="/login" class="hyper-link-other">
            Have an account? Login
          </a>
        </div>
      </main>
  </div>
  <%- include('partials/scripts') %>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/resources/js/register-actions.js"></script>
</body>

</html>