<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
  <%- include('partials/head') %>
    <link rel="stylesheet" href="/resources/css/dashboard.css">
</head>

<body>
  <div class="container">
    <nav class="user-data">
      <h2 id="title-user-data">Welcome: <%= user.username %>
      </h2>
      <ul class="nav-menu">
        <li>
          <a href="/dashboard">Notes</a>
        </li>
        <li>
          <button class="change-theme-btn" id="changeThemeAction">
            <ion-icon name="contrast-outline"></ion-icon>
          </button>
        </li>
        <li>
          <button class="change-theme-btn" id="logOutAction">
            <ion-icon name="log-out-outline"></ion-icon>
          </button>
        </li>
      </ul>
    </nav>
    <main class="content">
    </main>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/resources/js/dashboard-actions.js"></script>
  <%- include('partials/scripts') %>
</body>

</html>